
.body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.box {
    height: 500px;
    visibility: hidden;
}


.box-1 {
    height: 50px;
    visibility: hidden;
}


section {
    padding: 0;
    margin: 0%;
    background: conic-gradient( #6e946a, #b7ab98, #cb3e3e);
    background-size: 500% 500%;
    position: relative;
    animation: change 15s ease-in-out infinite;
}


@keyframes change {
  0%{
    background-position: 0 50%;  
  }
  50%{
    background-position: 100% 50%;  
  }
  100%{
    background-position: 0 50%;  
  }
}
 


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    z-index: 6;
  }


.grave-center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    z-index: 6;
    position: relative;
}

  .row {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 5px;
}

.column {
  flex: 33.33%;
  padding: 1px;
  z-index: 2;
  position: relative;
}

.column-text {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
  }
  
  .column:hover .column-text {
    opacity: 1;
  }

.symbols {
    position: relative;
    user-select: none;
    z-index: 40;
    height: 200px;
}

.symbol {
    position: absolute;
    cursor: grab;
    z-index: 10;
}

.is-dragged {
    user-select: auto;
    cursor: grabbing;
}

.symbols-1 {
    right: 0;
    bottom: 0;
    z-index: 60;
}

.symbols-2 {
    right: 20;
    bottom: 0;
    z-index: 6
}

.symbols-3 {
    left: 200px;
    bottom: 0;
    z-index: 60;
}

.symbols-4 {
    left: 30px;
    bottom: 0;
    z-index: 60;
}

.symbols-5 {
    left: 40px;
    bottom: 0;
    z-index: 60;
}

.symbols-6 {
    right: 100px;
    bottom: 0;
    z-index: 60;
}
.symbols-7 {
    right: 90px;
    bottom: 0;
    z-index: 60;
}

.symbols-8 {
    right: 200px;
    bottom: 0;
    z-index: 60;
}

.symbols-9 {
    right: 0;
    bottom: 20px;
    z-index: 60;
}

.symbols-10 {
    right: 0;
    bottom: 90px;
    z-index: 60;
} 


.big-grave {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.big-place {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.grave-img {
    width: 40%;
    cursor: pointer;
}