.body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-image: url("bg.png");
  }
  
  .box {
    height: 500px;
    visibility: hidden;
  }
  
  .box-1 {
    height: 70px;
    visibility: hidden;
  }
  
  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 40%;
    padding: 0;
    background-color: none;
    background: none;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    z-index: 6;
  }
  
  .grave-center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    z-index: 6;
    position: relative;
  }
  
  .row {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 5px;
  }
  
  .column {
    flex: 33.33%;
    padding: 1px;
    z-index: 2;
    position: relative;
  }
  
  .column-text {
    position: absolute;
    top: 100%;
    left: 10px;
    opacity: 0;
  }
  
  .column:hover .column-text {
    opacity: 1;
  }

  
  .symbols {
    position: relative;
    user-select: none;
    z-index: 40;
    height: 1000px;
  }
  
  
  .symbol {
    position: absolute;
    cursor: grab;
    z-index: 10;
  }
  
  .symbol-text {
    position: absolute;
    top: 100%;
    left: 10px;
    opacity: 0;
  }

  .symbol:hover .symbol-text {
    opacity: 1;
  }


  .is-dragged {
    user-select: auto;
    cursor: grabbing;
  }
  
  .symbols-1 {
    width: 100px;
    left: 320px;
    top: -40px;
    z-index: 60;
  }
  
  .symbols-2 {
    width: 100px;
    right: 300px;
    top: 0px;
    z-index: 6;
  }
  
  .symbols-3 {
    width: 100px;
    left: 100px;
    bottom: 450px;
    z-index: 60;
  }
  
  .symbols-4 {
    width: 100px;
    left: 100px;
    top: -50px;
    z-index: 60;
  }
  
  .symbols-5 {
    width: 100px;
    left: 0px;
    top: 360px;
    z-index: 60;
  }
  
  .symbols-6 {
    width: 100px;
    right: 200px;
    top: 100px;
    z-index: 60;
  }
  .symbols-7 {
    width: 100px;
    right: 300px;
    top: 200px;
    z-index: 60;
  }
  
  .symbols-8 {
    width: 100px;
    right: 300px;
    top: 80px;
    z-index: 60;
  }
  
  .symbols-9 {
    width: 100px;
    right: 0px;
    top: 300px;
    z-index: 60;
  }
  
  .symbols-10 {
    width: 100px;
    right: 0px;
    top: -50px;
    z-index: 60;
  }
  
  .symbols-11 {
    width: 100px;
    right: 300px;
    top: 380px;
    z-index: 60;
  }
  
  .symbols-12 {
    width: 100px;
    right: 200px;
    top: 200px;
    z-index: 60;
  }
  
  .symbols-13 {
    width: 100px;
    right: 300px;
    top: 300px;
    z-index: 60;
  }
  
  .symbols-14 {
    width: 100px;
    right: 170px;
    top: 300px;
    z-index: 60;
  }
  
  .symbols-15 {
    width: 100px;
    right: 300px;
    top: 450px;
    z-index: 60;
  }
  
  .symbols-16 {
    width: 100px;
    right: 100px;
    top: -20px;
    z-index: 60;
  }
  
  .symbols-17 {
    width: 100px;
    right: 0px;
    top: 200px;
    z-index: 60;
  }
  
  .symbols-18 {
    width: 100px;
    right: 0px;
    top: 100px;
    z-index: 60;
  }
  
  .symbols-19 {
    width: 100px;
    right: 100px;
    top: 200px;
    z-index: 60;
  }
  
  .symbols-20 {
    width: 100px;
    right: 200px;
    top: -20px;
    z-index: 60;
  }
  
  .symbols-21 {
    width: 100px;
    right: 400px;
    top: -20px;
    z-index: 60;
  }
  
  .symbols-22 {
    width: 100px;
    right: 100px;
    top: 420px;
    z-index: 60;
  }
  
  .symbols-23 {
    width: 100px;
    right: 0px;
    top: 390px;
    z-index: 60;
  }
  
  .symbols-24 {
    width: 100px;
    left: 200px;
    top: 350px;
    z-index: 60;
  }
  
  .symbols-25 {
    width: 100px;
    left: 100px;
    top: 400px;
    z-index: 60;
  }
  
  .symbols-26 {
    width: 100px;
    left: 200px;
    top: 440px;
    z-index: 60;
  }
  
  .symbols-27 {
    width: 100px;
    right: 100px;
    top: 120px;
    z-index: 60;
  }
  .symbols-28 {
    width: 100px;
    left: 0px;
    top: 90px;
    z-index: 60;
  }
  .symbols-29 {
    width: 100px;
    left: 130px;
    top: 90px;
    z-index: 60;
  }
  
  .symbols-30 {
    width: 100px;
    left: 250px;
    top: 90px;
    z-index: 60;
  }
  
  .symbols-31 {
    width: 100px;
    left: 80px;
    top: 200px;
    z-index: 60;
  }
  
  .symbols-32 {
    width: 100px;
    left: 190px;
    top: 200px;
    z-index: 60;
  }
  
  .symbols-33 {
    width: 100px;
    left: 220px;
    top: 300px;
    z-index: 60;
  }
  
  .symbols-34 {
    width: 100px;
    left: 100px;
    top: 300px;
    z-index: 60;
  }
  
  .symbols-35 {
    width: 100px;
    left: 200px;
    top: -30px;
    z-index: 60;
  }
  .symbols-36 {
    width: 100px;
    left: 0px;
    top: -50px;
    z-index: 60;
  }
  
  .symbols-37 {
    width: 100px;
    left: 0px;
    top: 450px;
    z-index: 60;
  }
  
  .symbols-38 {
    width: 100px;
    left: 0;
    top: 40px;
    z-index: 60;
  }
  
  .symbols-39 {
    width: 100px;
    left: 0px;
    top: 220px;
    z-index: 60;
  }
  
  .symbols-40 {
    width: 100px;
    left: 0px;
    top: 300px;
    z-index: 60;
  }
  
  .big-grave {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  
  .big-place {
    position: relative;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 3;
  }
  
  .grave-img {
    width: 40%;
    cursor: pointer;
  }
  
  .place-img {
    width: 50%;
    cursor: pointer;
  }